.about{
    margin-bottom: 20px;
}
.about-img{
    padding: 20px;
    height: 50%;
}
.card{
    background-color:#b679e9c2 !important;
    border: none;
    height: 700px;
}

span{

    font-size: 20px;
    font-weight: 700;
    color: #ad2aad;

}