.contact-area{
    background-image: url('../../../images/contact-bg.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.form{
    background-color: #f53b57;
    padding: 35px;
}

.form input{
    width: 100%;
    height: 40px;
    padding: 5px;
    text-indent: 5px;
    border: none;
    border-radius: 5px;
}

.form textarea{
    width: 100%;
    height: 150px;
    padding: 5px;
    text-indent: 5px;
    border: none;
    border-radius: 5px;
}

@media only screen and (max-width: 414px) {
    .form{
        width: 100%;
    }
}