.home{
   
    padding-top: 20px;
    padding-bottom: 30px;
 }
 .slider-img{
    height: 400px !important;
 
 }
 .upcoming-tite{
   width: 50%;
   clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
   margin: 0 auto;
    background-color: #0D6EFD;
    margin-bottom: 10px;
 }
 .upcoming-course{
    width: 40%;
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    margin: 0 auto;
     background-color: blue;
     font-size: 20px;
 }