.banner-area{
    background-image: url('../../../images/background-bg.jpg');
    background-attachment: fixed;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.banner-area h2{
    font-size: 50px;
    color: #c0392b;
    text-align: center;
}

.banner-area p{
    font-size: 18px;
    font-weight: 500;
    text-align: center;
}

span{
    color: #c0392b;
}