.navbar a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    margin: 0 5px;
    transition: .3s;
}

.navbar a:hover{
    background-color: #a637bd;
    border-radius: 10px;
    transition: 1s;
}